Dixit_Client/Service References/DixitService1/DixitService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61203/DixitService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:61203/DixitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dixit_Service.DataContracts" />
  <xs:complexType name="JoinGameResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinGameResult" nillable="true" type="tns:JoinGameResult" />
  <xs:complexType name="GameState">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualPlayer" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="BoardDeck" nillable="true" type="tns:Deck" />
      <xs:element minOccurs="0" name="CardAssociationText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GameIsRunning" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Guesses" nillable="true" type="q1:ArrayOfKeyValueOfPlayerCard9AW7tw6f" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Hands" nillable="true" type="q2:ArrayOfKeyValueOfPlayerDeckww30_SCd_P" />
      <xs:element minOccurs="0" name="MainDeck" nillable="true" type="tns:Deck" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayer" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Points" nillable="true" type="q3:ArrayOfKeyValueOfPlayerintf4z7L7Yg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameState" nillable="true" type="tns:GameState" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Deck">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dixit_Service.DataContracts" minOccurs="0" name="Cards" nillable="true" type="q4:ArrayOfCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deck" nillable="true" type="tns:Deck" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
</xs:schema>