Dixit_Client/Service References/DixitService1/DixitService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61203/DixitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" />
  <xs:import schemaLocation="http://localhost:61203/DixitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dixit_Service.DataContracts" />
  <xs:complexType name="ArrayOfKeyValueOfPlayerCard9AW7tw6f">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfPlayerCard9AW7tw6f">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" name="Key" nillable="true" type="q1:Player" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dixit_Service.DataContracts" name="Value" nillable="true" type="q2:Card" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfPlayerCard9AW7tw6f" nillable="true" type="tns:ArrayOfKeyValueOfPlayerCard9AW7tw6f" />
  <xs:complexType name="ArrayOfKeyValueOfPlayerDeckww30_SCd_P">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfPlayerDeckww30_SCd_P">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" name="Key" nillable="true" type="q3:Player" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" name="Value" nillable="true" type="q4:Deck" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfPlayerDeckww30_SCd_P" nillable="true" type="tns:ArrayOfKeyValueOfPlayerDeckww30_SCd_P" />
  <xs:complexType name="ArrayOfKeyValueOfPlayerintf4z7L7Yg">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfPlayerintf4z7L7Yg">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" name="Key" nillable="true" type="q5:Player" />
            <xs:element name="Value" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfPlayerintf4z7L7Yg" nillable="true" type="tns:ArrayOfKeyValueOfPlayerintf4z7L7Yg" />
</xs:schema>