Dixit_Client/Service References/DixitService1/DixitService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61203/DixitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" />
  <xs:import schemaLocation="http://localhost:61203/DixitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dixit_Service.DataContracts" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" minOccurs="0" name="JoinGameResult" nillable="true" type="q1:JoinGameResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssociationText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="story" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAssociationTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewGuess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dixit_Service.DataContracts" minOccurs="0" name="card" nillable="true" type="q2:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewGuessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PutCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dixit_Service.DataContracts" minOccurs="0" name="card" nillable="true" type="q3:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutCardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GameStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" minOccurs="0" name="state" nillable="true" type="q4:GameState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" minOccurs="0" name="state" nillable="true" type="q5:GameState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.DataContracts" minOccurs="0" name="state" nillable="true" type="q6:GameState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuttingPhaseEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuessPhaseEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>