Dixit_Client/Service References/DixitService/DixitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DixitService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IDixitService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60773/DixitService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60773/DixitService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60773/DixitService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:60773/DixitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.Interfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDixitService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDixitService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDixitService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IDixitService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IDixitService_ListGames_InputMessage">
    <wsdl:part name="parameters" element="tns:ListGames" />
  </wsdl:message>
  <wsdl:message name="IDixitService_ListGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IDixitService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IDixitService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IDixitService_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IDixitService_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IDixitService_LeaveGame_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="IDixitService_LeaveGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="IDixitService_SelectCardWithStory_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCardWithStory" />
  </wsdl:message>
  <wsdl:message name="IDixitService_SelectCardWithStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCardWithStoryResponse" />
  </wsdl:message>
  <wsdl:message name="IDixitService_SelectCard_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectCard" />
  </wsdl:message>
  <wsdl:message name="IDixitService_SelectCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectCardResponse" />
  </wsdl:message>
  <wsdl:message name="IDixitService_GameStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameStart" />
  </wsdl:message>
  <wsdl:message name="IDixitService_GameStateChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameStateChanged" />
  </wsdl:message>
  <wsdl:message name="IDixitService_GameEnd_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameEnd" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDixitService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDixitService/Login" message="tns:IDixitService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/LoginResponse" message="tns:IDixitService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IDixitService/Logout" message="tns:IDixitService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/LogoutResponse" message="tns:IDixitService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="ListGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IDixitService/ListGames" message="tns:IDixitService_ListGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/ListGamesResponse" message="tns:IDixitService_ListGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDixitService/CreateGame" message="tns:IDixitService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/CreateGameResponse" message="tns:IDixitService_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDixitService/JoinGame" message="tns:IDixitService_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/JoinGameResponse" message="tns:IDixitService_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="LeaveGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IDixitService/LeaveGame" message="tns:IDixitService_LeaveGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/LeaveGameResponse" message="tns:IDixitService_LeaveGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SelectCardWithStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IDixitService/SelectCardWithStory" message="tns:IDixitService_SelectCardWithStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/SelectCardWithStoryResponse" message="tns:IDixitService_SelectCardWithStory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SelectCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IDixitService/SelectCard" message="tns:IDixitService_SelectCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/SelectCardResponse" message="tns:IDixitService_SelectCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GameStart">
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/GameStart" message="tns:IDixitService_GameStart_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GameStateChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/GameStateChanged" message="tns:IDixitService_GameStateChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GameEnd">
      <wsdl:output wsaw:Action="http://tempuri.org/IDixitService/GameEnd" message="tns:IDixitService_GameEnd_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IDixitService" type="tns:IDixitService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IDixitService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListGames">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/ListGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/LeaveGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCardWithStory">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/SelectCardWithStory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCard">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/SelectCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameStart">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/GameStart" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameStateChanged">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/GameStateChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameEnd">
      <soap12:operation soapAction="http://tempuri.org/IDixitService/GameEnd" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DixitService">
    <wsdl:port name="WSDualHttpBinding_IDixitService" binding="tns:WSDualHttpBinding_IDixitService">
      <soap12:address location="http://localhost:60773/DixitService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:60773/DixitService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>