Dixit_Client/Service References/DixitService/DixitService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dixit_ServiceLibrary.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateGameResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Game" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateGameResult" nillable="true" type="tns:CreateGameResult" />
  <xs:complexType name="JoinGameResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinGameResult" nillable="true" type="tns:JoinGameResult" />
  <xs:complexType name="SelectCardResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectCardResult" nillable="true" type="tns:SelectCardResult" />
</xs:schema>